//colors

//Light green: #7ed56f
// Medium green: #55c57a
// Dark green: #28b485
// dark blue: #0068d8
// medium blue: #478CCF
// light blue: #36C2CE;

/* color-secondary-light: #7ed56f;
color-secondary-medium: #55c57a;
color-secondary-dark: #28b485;

color-tertiary-light: #ffb900;
color-tertiary-dark: #ff7730;

color-quaternary-light: #a64d79;
color-quaternary-dark: #921a40;

color-primary: #0068d8;
color-light: #36c2ce;
color-dark: #478ccf;
color-white: white;
color-grey-light-1: #f7f7f7;
color-grey-light-2: #eee;
color-grey-dark-2: #999;
color-grey-dark-3: #333;
color-black: #3c3d37; */
